body {
 background: #282A30;
 color: #fff;
 font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
 font-size: 16px;
 height: auto;
 padding-bottom: 20px;
}
a {
 color: #fff;
 text-decoration: none;
}
a:hover {
 text-decoration: underline;
}
h1 {
 font-family: 'Carrois Gothic', sans-serif;
 font-weight: normal;
 padding-top: 20px;
 text-align: center;
}
h2 {
 font-family: 'Carrois Gothic', sans-serif;
 padding-top: 20px;
 text-align: center;
}
td {
 font-family: 'Anaheim', sans-serif;
}
p {
 overflow: hidden;
 padding: 10px 0;
 text-align: center;
}
input[type="text"] {
 /* background: #e8e6a2; */
 background-color: rgb(245, 245, 245);
 border: 1px solid #ccc;
 -moz-border-radius: 10px;
 -webkit-border-radius: 10px;
 border-radius: 10px;
 -moz-box-shadow: 2px 2px 3px #666;
 -webkit-box-shadow: 2px 2px 3px #666;
 box-shadow: 2px 2px 3px #666;
 font-size: 11px;
 padding: 4px 7px;
 outline: 0;
 -webkit-appearance: none;
}
select {
 /* background: #e8e6a2; */
 background-color: rgb(245, 245, 245);
 padding:3px;
 margin: 0;
 -webkit-border-radius:4px;
 -moz-border-radius:4px;
 border-radius:4px;
 -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
 -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
 box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
 border:none;
 outline:none;
 display: inline-block;
 -webkit-appearance:none;
 -moz-appearance:none;
 appearance:none;
 cursor:pointer;
}