<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>VOD Claxson</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/960.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/css3-gmail-style.css" />
	<link rel="stylesheet" href="/css/tables.css" />
	<link href='http://fonts.googleapis.com/css?family=Inder|BenchNine|Anaheim|Strait|Cinzel' rel='stylesheet' type='text/css'>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="/js/jquery.cookie.js"></script>
	<script type="text/javascript" src="/js/jquery.accordion.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {
			$('.accordion').accordion({defaultOpen: ''});
		});
	</script>
</head>
<body>
	<div class="container_12">
		<div class="grid_12" style="background: #6B6E80">
			<h1>
				<a href="#">VOD Claxsonxx</a>
			</h1>
		</div>
		<div class="clear"></div>
		<div class="grid_3" id="navbar">
			<br />
			<a href="/vod" class="bttn" style="width: 150px;">Items</a><br />
			<a href="#" class="bttn" style="width: 150px;">Customers</a><br />
			<a href="#" class="bttn" style="width: 150px;">Packages</a><br />
			<br /><br />
			<a href="/admin" class="bttn" style="width: 150px;">Admin</a><br />
			<a href="#" class="bttn" style="width: 150px;">Logout</a>
		</div>
		{% block content %}{% endblock %}
		<div class="clear"></div>
		<div class="grid_12" style="background: #6B6E80;">
			<p>Footer</p>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>