<!DOCTYPE html>
<html lang="en">
<head>
	{% load dajaxice_templatetags %}
	<meta charset="utf-8" />
	<title>VOD Claxson</title>
	<link rel="stylesheet" href="/css/reset.css" />
	<link rel="stylesheet" href="/css/text.css" />
	<link rel="stylesheet" href="/css/960.css" />
	<link rel="stylesheet" href="/css/main.css" />
	<link rel="stylesheet" href="/css/css3-gmail-style.css" />
	<link rel="stylesheet" href="/css/tables.css" />
	<link href='http://fonts.googleapis.com/css?family=Anaheim|Carrois+Gothic|Gafata' rel='stylesheet' type='text/css'>
	{% block resources %}{% endblock %}
	<!-- DAJAXICE.CORE.JS -->
	<script src="/js/xx8.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div class="container_12">
		<div class="grid_12" style="background: #6B6E80">
			<h1>
				<a href="#">Playboy TV Latin America VOD Packager</a>
			</h1>
		</div>
		<div class="clear"></div>
		<div class="grid_3" id="navbar">
			<br />
			<a href="/vod" class="bttn" style="width: 150px;">Items</a><br />
			<a href="/vod/customers" class="bttn" style="width: 150px;">Customers</a><br />
			<a href="/vod/packages" class="bttn" style="width: 150px;">Packages</a><br />
			<a href="/vod/dashboard" class="bttn" style="width: 150px;">Dashboard</a><br />
			<br /><br />
			<a href="/admin" class="bttn" style="width: 150px;">Admin</a><br />
			<a href="#" class="bttn" style="width: 150px;">Logout</a>
		</div>
		{% block content %}{% endblock %}
		<div class="clear"></div>
		<div class="grid_12" style="background: #6B6E80;">
			<p>Footer</p>
		</div>
		<div class="clear"></div>
	</div>
</body>
</html>