{% extends "base.html" %}

{% block content %}
<div class="grid_9" style="color: #fff; padding-top: 5px;">
	<h1 class="formTitle">Customer</h1>
	<table class="tblFormView">
		<tr>
			<td class="tdFieldLabel" width="250px">Name</td>
			<td><input type="text" name="name" readonly value="{{customer.name}}" style="width: 380px;" /></td>
		</tr>
		<tr>
			<td class="tdFieldLabel">VOD active</td>
			<td><input type="text" name="vod_active" readonly value="{{customer.vod_active}}" style="width: 50px;" /></td>
		</tr>
		<tr>
			<td class="tdFieldLabel">Image type</td>
			<td><input type="text" name="image_type" readonly value="{{customer.image_type}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Video profile</td>
			<td>
			<textarea rows="3" name="video_profile" readonly cols="53">{% for vp in customer.video_profile.all %}{{vp.name}}; {% endfor %}</textarea>
			</td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Image profile</td>
			<td>
			<textarea name="image_profile" readonly rows="3" cols="53">{% for ip in customer.image_profile.all %}{{ip.name}}; {% endfor %}</textarea>
			</td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Metadata profile</td>
			<td><input type="text" name="metadata_profile" readonly value="{{customer.metadata_profile}}" style="width: 280px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Export language</td>
			<td><input type="text" name="export_language" readonly value="{{customer.export_language}}" style="width: 180px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Export format</td>
			<td><input type="text" name="export_format" readonly value="{{customer.export_format}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Export folder</td>
			<td><input type="text" name="export_folder" readonly value="{{customer.export_folder}}" style="width: 180px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Runtype display</td>
			<td><input type="text" name="runtype_display" readonly value="{{customer.runtype_display}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>License date format</td>
			<td><input type="text" name="license_date_format" readonly value="{{customer.license_date_format}}" style="width: 180px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Rating display</td>
			<td><input type="text" name="rating_display" readonly value="{{customer.rating_display}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Product type</td>
			<td><input type="text" name="product_type" readonly value="{{customer.product_type}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Sugested price longform SD</td>
			<td><input type="text" name="Sugested price LF SD" readonly value="{{customer.sugested_price_longform_sd}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Sugested price longform HD</td>
			<td><input type="text" name="Sugested price LF HD" readonly value="{{customer.sugested_price_longform_hd}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Sugested price shortform SD</td>
			<td><input type="text" name="Sugested price SF SD" readonly value="{{customer.sugested_price_shortform_sd}}" style="width: 80px;" /></td>
		</tr>
		<tr class="tdFieldLabel">
			<td>Sugested price shortform HD</td>
			<td><input type="text" name="Sugested price SF HD" readonly value="{{customer.sugested_price_shortform_hd}}" style="width: 80px;" /></td>
		</tr>
	</table>
</div>
{% endblock %}