<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>VOD Packager</title>
<link rel="stylesheet" type="text/css" href="main.css" />
<link rel="stylesheet" type="text/css" href="collapsible.css" />
<link rel="stylesheet" href="css3-gmail-style.css" type="text/css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>

</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		 
		       <h1>VOD-Packager</h1>
			   
		 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 	
		 	<center>
		       <a href="#" class="bttn" style="width: 150px;">Items<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Customers<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Packages<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Daemons<a><br />
		       <br /><br />
		       <a href="#" class="bttn blue" style="width: 150px;">Admin<a><br />
		       <a href="#" class="bttn red" style="width: 150px;">Logout<a><br />
		       </center>
		 		
		 </div>
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn">
		      
		      <table>
		      	<tr><td>A</td><td>B</td></tr>
		      </table>
		      
		      <div class="layer1">
				<p class="heading">Header-1 </p>
				<div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				<p class="heading">Header-2</p>
				<div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				<p class="heading">Header-3</p>
				<div class="content">Lorem ipsum dolor sit amet, consectetuer adipiscing elit orem ipsum dolor sit amet, consectetuer adipiscing elit</div>
				</div>
		 
		 </div>
		 <!-- End Right Column -->
		 
		 <!-- Begin Footer -->
		 <div id="footer">
		       
			   This is the Footer		
			    
	     </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   
</body>
</html>
