{% extends "base.html" %}

{% block content %}
<div class="grid_6" style="color: #fff; padding-top: 5px;">
	<table>
		<tr>
			<td width="150px">Name</td>
			<td>{{ item.name }}</td>
		</tr>
		<tr>
			<td>Kill date</td>
			<td>{{ item.creation_date }}</td>
		</tr>
		<tr>
			<td>Status</td>
			<td>{{ item.status }}</td>
		</tr>
		<tr>
			<td>Asset id</td>
			<td>{{ item.asset_id }}</td>
		</tr>
		<tr>
			<td>Metadata language</td>
			<td>{{ item.metadata_language }}</td>
		</tr>
		<tr>
			<td>Episode number</td>
			<td>{{ item.episode_number }}</td>
		</tr>
		<tr>
			<td>Rating</td>
			<td>4.5</td>
		</tr>
		<tr>
			<td>Genre</td>
			<td>Hardcore</td>
		</tr>
		<tr>
			<td>Actors</td>
					<td>Robert de Niro</td>
		</tr>
		<tr>
			<td>Origin country</td>
			<td>USA</td>
		</tr>
		<tr>
			<td>Year</td>
			<td>2012</td>
		</tr>
		<tr>
			<td>Director</td>
			<td>Tim Burton</td>
		</tr>
		<tr>
			<td>Studio name</td>
			<td>Disney</td>
		</tr>
		<tr>
			<td>Format</td>
			<td>SD</td>
		</tr>
		<tr>
			<td>MAM id</td>
			<td>81723981723981</td>
		</tr>
	</table>
</div>
<div class="grid_3" style="padding-top: 5px;">
	<table width="100%" style="color: #fff;">
		<tr><td>Export to:</td></tr>
		<tr>
			<td>
				<select multiple="multiple" style="width: 100%">
					<option value="all">Todos</option>
					<option value="cablevision">Cablevision</option>
					<option value="cablemas">CableMas</option>
					<option value="pepito">Pepito</option>
				</select>
			</td>
		</tr>
		<tr><td colspan="2">Package group:</td></tr>
		<tr>
			<td>
				<select style="width: 100%">
					<option value="07">Agosto</option>
					<option value="08">Septiembre</option>
					<option value="10">Octubre</option>
					<option value="11">Noviembre</option>
				</select>
			</td>
		</tr>
	</table>
</div>
<div class="grid_9" id="renditions" style="color: #fff;">
	<h3 class="accordion" id="section1" style="background: #f00;">Video Rendition<span></span><h3>
	<div class="container">
		<div class="content">
			<p>Content here....</p>
		</div>
	</div>
	<h3 class="accordion" id="section2" style="background: #0f0;">Image Rendition<span></span><h3>
	<div class="container">
		<div class="content">
			<p>Content here....</p>
		</div>
	</div>
</div>
{% endblock %}