<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>VOD Packager</title>
<link rel="stylesheet" type="text/css" href="/css/main.css" />
<link rel="stylesheet" href="/css/css3-gmail-style.css" type="text/css" />

</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->
         <div id="header">
		 
		       <h1>VOD-Packager</h1>
			   
		 </div>
		 <!-- End Header -->
		 
		 <!-- Begin Left Column -->
		 <div id="leftcolumn">
		 	
		 	<center>
		       <a href="#" class="bttn" style="width: 150px;">Items<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Customers<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Packages<a><br />
		       <a href="#" class="bttn" style="width: 150px;">Daemons<a><br />
		       <br /><br />
		       <a href="#" class="bttn blue" style="width: 150px;">Admin<a><br />
		       <a href="#" class="bttn red" style="width: 150px;">Logout<a><br />
		       </center>
		 		
		 </div>
		 <!-- End Left Column -->
		 
		 <!-- Begin Right Column -->
		 <div id="rightcolumn">
		      
		      <h3>Item Name</h3>
		      
		      <table border="1" width="100%">
		      	<tr>
		      		<td>
		      			<table>
							<tr><td width="150px">Name</td><td>La mas trolita</td></tr>
							<tr><td>Kill date</td><td>12/12/2012</td></tr>
							<tr><td>Status</td><td>New</td></tr>
							<tr><td>Asset id</td><td>125637162318263</td></tr>
							<tr><td>Metadata language</td><td>Spanish</td></tr>
							<tr><td>Episode number</td><td>12</td></tr>
							<tr><td>Rating</td><td>4.5</td></tr>
							<tr><td>Genre</td><td>Hardcore</td></tr>
							<tr><td>Actors</td><td>Robert de Niro</td></tr>
							<tr><td>Origin country</td><td>USA</td></tr>
							<tr><td>Year</td><td>2012</td></tr>
							<tr><td>Director</td><td>Tim Burton</td></tr>
							<tr><td>Studio name</td><td>Disney</td></tr>
							<tr><td>Format</td><td>SD</td></tr>
							<tr><td>MAM id</td><td>81723981723981</td></tr>
						</table>
		      		</td>
		      		<td valign="top">
		      			<table border="1" width="100%">
		      				<tr><td>Export to:</td></tr>
		      				<tr>
		      					<td>
									<select multiple="multiple">										<option value="volvo">Volvohjsadgfhjsgd</option>
										<option value="saab">Saabsdfsdfsdfsdf</option>
										<option value="opel">Opesdfsdfsdfl</option>
										<option value="audi">Audisdfsdfsdfs</option>
									</select>
		      					</td>
		      				</tr>
		      				<tr><td>Package group:</td></tr>
		      			</table>
		      		</td>
		      	</tr>
		      	<tr>
		      		<td colspan="2">Video Rendition</td>
		      	</tr>
		      	<tr>
		      		<td colspan="2">Image Rendition</td>
		      	</tr>
		      </table>
		 
		 </div>
		 <!-- End Right Column -->
		 
		 <!-- Begin Footer -->
		 <div id="footer">
		       
			   This is the Footer		
			    
	     </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   
</body>
</html>
