<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>VOD Claxson</title>
	<link rel="stylesheet" href="css/reset.css" />
	<link rel="stylesheet" href="css/text.css" />
	<link rel="stylesheet" href="css/960.css" />
	<link rel="stylesheet" href="css/login.css" />
	<link rel="stylesheet" href="css/css3-gmail-style.css" />
	<link href='http://fonts.googleapis.com/css?family=Inder|BenchNine|Anaheim|Strait|Cinzel' rel='stylesheet' type='text/css'>
</head>
<body>
	<h1>
		<a href="#">VOD Claxson</a>
	</h1>
	<div class="container_12">
		<div class="grid_12"><p></p></div>
		<div class="clear"></div>
		<div class="grid_4"><p></p></div>
		<div class="grid_4">
			<form>
				<label>Usuario:</label>
				<input type="text" id="username" name="username" required>

				<label>Contrasenia:</label>
				<input type="password" id="password" name="password" required>

				<!-- <input type="submit" value="Login" /> -->
				<a href="#" class="bttn blue">Login<a>
			</form>
		</div>
		<div class="grid_4"><p></p></div>
		<div class="clear"></div>
		<div class="grid_12"><p></p></div>
		<div class="clear"></div>
	</div>
</body>
</html>