<html>
	<head>
		<link href='http://fonts.googleapis.com/css?family=Anaheim|Carrois+Gothic|Gafata' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/modal.css" />
		<link rel="stylesheet" href="/css/css3-gmail-style.css" />
		<script type="text/javascript" src="/js/jquery-1.8.3.min.js"></script>
		<script src="/js/xxx9.js" type="text/javascript" charset="utf-8"></script>	
		<script>
			function closeWindow() {
			    parent.$.fancybox.close();
			}
			
			function actionSave() {
			    data = $('#new_package_group').serialize();
			    Dajaxice.Packager_app.package_group_save(message_callback, {'data':data});
			}
			
			function message_callback(data) {
			    if (data.message == null) {
				window.parent.clbkNewPackageGroup(data);
			    } else {
				alert(data.message);
			    }
			}
			
			$(document).ready(function() {
			    // DOM ready	
			});
		</script>
	</head>
	<body>
		<form id="new_package_group">{% csrf_token %}
			<h1 style="padding: 0px;">New package group</h1>
			<center>
			<table>
				<tr>
					<td>Name</td>
					<td><input type="text" id="name" name="name" style="width:100%;" /></td>
				</tr>
				<tr>
					<td>Description</td>
					<td><textarea id="description" name="description" rows="2" cols="40"></textarea></td>
				</tr>
			</table>
			</center>
		</form>
		<hr />
		<center>
			<a href="#" class="bttn icon save" onclick="actionSave();">Save</a>
			<a href="#" class="bttn icon close" onclick="javascript:closeWindow();">Close</a>
		</center>
	</body>
</html>