{% extends "base_views.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

{% for package_group in packages_groups %}
<table class="tblDashboard">
	<tr><td class="tdDashboardTitle">Package group: {{package_group.name}}</td></tr>
	<tr>
		<td>
			<table id="hor-zebra">
				<thead>
					<tr>
						<th scope="col" width="20px"><!-- <input type="checkbox" name="your-group" value="unit-in-group" /> --></th>
						<th scope="col" class="center" width="20px"></th>
						<th scope="col">Item</th>
						<th scope="col">Customer</th>
					</tr>
				</thead>
				<tbody>

{% for package in packages %}
					<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
						<td><input type="checkbox" name="entrycheck" value="{{package.id}}"/></td>
						<td class="display_icon"><span id="status" class="pkgstatus_{{package.status}}" /></td>
						<td><a href="/vod/package/{{package.id}}">{{package.item}}</a></td>
						<td>{{package.customer}}</td>
					</tr>
{% endfor %}
				</tbody>
			</table>
		</td>
	</tr>
</table>
{% endfor %}

{% endblock %}

{% block action_bar %}

{% if packages_groups.has_previous %}
<a href="?page={{ packages_groups.previous_page_number }}" class="bttn prev">Previous</a>
{% endif %}
<a href="#" onclick="javascript:actionViewEntry('/vod/item');" class="bttn icon view">View</a>
<a href="#" onclick="javascript:actionRefreshView();" class="bttn icon refresh">Refresh<a>
{% if packages_groups.has_next %}
<a href="?page={{ packages_groups.next_page_number }}" class="bttn next">Next</a>
{% endif %}

{% endblock %}