{% extends "base_views.html" %}

{% block title %}Item's view{% endblock %}

{% block content %}
<!-- TOOLTIPS -->
<link rel="stylesheet" href="/css/jquery.tooltip.css" />
<script src="/js/jquery.bgiframe.js" type="text/javascript"></script>
<script src="/js/jquery.dimensions.js" type="text/javascript"></script>
<script src="/js/jquery.tooltip.js" type="text/javascript"></script>
<script src="/js/chili-1.7.pack.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		// Enabling tooltips
		$('#iconography *').tooltip();
});
</script>

<table id="hor-zebra">
	<thead>
		<tr>
			<th scope="col" width="20px"><!-- <input type="checkbox" name="your-group" value="unit-in-group" /> --></th>
			<th scope="col" class="center" width="20px"></th>
			<th scope="col">Name</th>
			<th scope="col">MAM</th>
			<th scope="col" class="center">Creation</th>
			<th scope="col" class="center">Kill</th>
		</tr>
	</thead>
	<tbody>

{% for item in items %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td class="display_check"><input type="checkbox" name="entrycheck" value="{{item.id}}"/></td>
			<td class="display_icon"><span class="status_{{item.status}}" /></td>
			<td><a href="/vod/item/{{item.id}}">{{ item.name }}</a></td>
			<td>{{item.mam_id}}</td>
			<td class="center">{{ item.creation_date }}</td>
			<td class="center">{{ item.kill_date }}</td>
		</tr>
{% endfor %}
	</tbody>
</table>

<!-- VIEW'S ICONOGRAPHY -->
<hr />
<fieldset id="iconography">
	<table id="tblIconography">
		<tr>
			<td class="tdIconographyIcon" title="New item from Fork.">
				<a href="#"><img src="/images/icons/new.png"><br />New</a></td>
			<td class="tdIconographyIcon" title="Item being processed.">
				<a href="#"><img src="/images/icons/time.png"><br />Processing</a></td>
			<td class="tdIconographyIcon" title="Item done.">
				<a href="#"><img src="/images/icons/tick.png"><br />Done</a></td>
			<td class="tdIconographyIcon" title="Item error. Please contact system adminitrator.">
				<a href="#"><img src="/images/icons/exclamation.png"><br />Warning</a></td>
			<td width="99%"></td>
		<tr>
	</table>
</fieldset>

{% endblock %}

{% block action_bar %}

{% if items.has_previous %}
<a href="?page={{ items.previous_page_number }}" class="bttn prev">Previous</a>
{% endif %}
<a href="#" onclick="javascript:actionViewEntry('/vod/item');" class="bttn icon view">View</a>
<a href="#" onclick="javascript:actionRefreshView();" class="bttn icon refresh">Refresh<a>
{% if items.has_next %}
<a href="?page={{ items.next_page_number }}" class="bttn next">Next</a>
{% endif %}

{% endblock %}