{% extends "base_views.html" %}

{% block title %}Dashboard{% endblock %}

{% block content %}

<link rel="stylesheet" href="/css/dashboard.css" />
<script type="text/javascript" src="/js/dashboard.js"></script>

<span class="dashboardTitle">Package group: 
	<select id="package_group" name="package_group" class="slctPkgGrp" style="width: auto;" onchange="javascript:onChangePackageGroup();">
		{% for pkgg in packages_group_list %}
		<option value="{{pkgg.id}}">{{pkgg.name}}</option>
		{% endfor %}
	</select>
</span>

<table class="tblDashboard">
	<tbody>
		<tr>
			<th class="thUpperLeft"></th>
			{% for customer in customers %}
			<th style="border: 1px solid white;"><div class="verticalText">{{customer.name}}</div></th>
			{% endfor %}
		</tr>
		{% for item in matriz %}
		<tr id="item_{{item.0.0}}">
			<td class="tdItemTitle">{{item.0.1}}</td>
			{% for customer in customers %}
			<td id="customer_{{customer.id}}" class="tdPackageStatus" style="text-align:right;">
				<span class="pkgstatus_"></span>
			</td>
			{% endfor %}
		</tr>
		{% endfor %}
	</tbody>
</table>

<!-- VIEW'S ICONOGRAPHY -->
<table id="tblIconography">
	<tr>
		<td class="tdIconographyIcon" title="Package under process">
			<img src="/images/icons/hourglass.png"></td><td class="tdIconographyDesc">Queued
		</td>
		<td class="tdIconographyIcon" title="Package ready for download">
			<img src="/images/icons/tick.png"></td><td class="tdIconographyDesc">Packaged
		</td>
		<td class="tdIconographyIcon" title="Error creating package">
			<img src="/images/icons/exclamation.png"></td><td class="tdIconographyDesc">Error
		</td>
		<td width="99%"></td>
	<tr>
</table>

<script>
var json_string = "{\"items\": [{% for item in matriz %}{\"item\":{{item.0.0}}, \"pkgs\":[{% for pkg in item.1 %}{\"pkg_id\":{{pkg.0}}, \"customer_id\":{{pkg.1}}, \"pkg_status\":\"{{pkg.2}}\"},{% endfor %}{\"pkg_id\":0, \"customer_id\":0, \"pkg_status\":\"\"}]},{% endfor %}{\"item\":0, \"pkgs\":[]}]}";
</script>

<!-- HIDDEN FIELDS -->
<input type="hidden" id="package_group_id" name="package_group_id" value="{{package_group.id}}" />
<input type="hidden" id="package_group_name" name="package_group_name" value="{{package_group.name}}" />
<input type="hidden" id="package_group_desc" name="package_group_desc" value="{{package_group.description}}" />

{% endblock %}

{% block action_bar %}

<a href="#" onclick="javascript:actionRefreshView();" class="bttn icon refresh">Refresh</a>

{% endblock %}