{% extends "base_views.html" %}

{% block title %}Smart Delivery{% endblock %}

{% block content %}
<!-- TOOLTIPS -->
<link rel="stylesheet" href="/css/jquery.tooltip.css" />
<script src="/js/jquery.bgiframe.js" type="text/javascript"></script>
<script src="/js/jquery.dimensions.js" type="text/javascript"></script>
<script src="/js/jquery.tooltip.js" type="text/javascript"></script>
<script src="/js/chili-1.7.pack.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		// Enabling tooltips
		$('#iconography *').tooltip();
		$('#viewicons *').tooltip();
});
</script>

<fieldset id="viewicons">
<table id="hor-zebra">
	<thead>
		<tr>
			<th scope="col"></th>
			{% for zone in group_list.0.zone_list %}
			    <th scope="col">{{zone.zone_name}}</th>
			{% endfor %}
		</tr>
	</thead>
	
	
	<tbody>
	{% for group in group_list %}
		<tr>
			<td>{{group.name}}</td>
		{% for zone in group.zone_list %}	
			<td><a href="/vod/create_prepackage/{{group.id}}/{{zone.id}}/" class="bttn">Export</a></td>
		
		{% endfor %}
		</tr>
	{% endfor %} 
	</tbody>
	
</table>
</fieldset>

<!-- VIEW'S ICONOGRAPHY -->
<hr />
{% endblock %}

{% block action_bar %}

{% if packages.has_previous %}
<a href="?page={{ packages.previous_page_number }}" class="bttn prev">Previous</a>
{% endif %}
<a href="#" onclick="javascript:actionRefreshView();" class="bttn icon refresh">Refresh<a>
{% if packages.has_next %}
<a href="?page={{ packages.next_page_number }}" class="bttn next">Next</a>
{% endif %}

{% endblock %}