{% extends "base_views.html" %}

{% block title %}
<a href="/vod/logs">Logs</a> | <a href="/vod/daemons">Daemons</a>
{% endblock %}

{% block content %}
<script type="text/javascript" src="/js/logs.js"></script>
<br />
<table class="tblDaemonsStatus">
	<tr style="border-bottom: 1px solid white;">
	    <td ><b>QImport</b> <span class="processDescription">Process pending rendition queues.</span></td>
	    <td class="display_icon" style="width: 1%;"><span class="status_daemon_{{ QImport_status }}" /></td>
	</tr>
	<tr style="border-bottom: 1px solid white;">
	    <td ><b>QChecker</b> <span class="processDescription">Check transcoding tasks status, calculate checksums and file sizes.</span></td>
	    <td class="display_icon" style="width: 1%;"><span class="status_daemon_{{ QChecker_status }}" /></td>
	</tr>
	<tr style="border-bottom: 1px solid white;">
	    <td ><b>QPackager</b> <span class="processDescription">Accommodate packages for delivery.</span></td>
	    <td class="display_icon" style="width: 1%;"><span class="status_daemon_{{ QPackager_status }}" /></td>
	</tr>
	<tr style="border-bottom: 1px solid white;">
	    <td ><b>VPApiServer</b> <span class="processDescription">Process RPC calls from Fork.</span></td>
	    <td class="display_icon" style="width: 1%;"><span class="status_daemon_{{ VPApiServer_status }}" /></td>
	</tr>    
</table>

{% endblock %}

{% block action_bar %}
<a href="#" onclick="javascript:window.location.reload();" class="bttn icon refresh">Refresh<a>
{% endblock %}