{% extends "base_views.html" %}

{% block title %}Detailed Package view: {{package_group.name}}  {% endblock %}

{% block content %}
<!-- TOOLTIPS -->
<link rel="stylesheet" href="/css/jquery.tooltip.css" />
<script src="/js/jquery.bgiframe.js" type="text/javascript"></script>
<script src="/js/jquery.dimensions.js" type="text/javascript"></script>
<script src="/js/jquery.tooltip.js" type="text/javascript"></script>
<script src="/js/chili-1.7.pack.js" type="text/javascript"></script>
<script>
	$(document).ready(function() {
		// Enabling tooltips
		$('#iconography *').tooltip();
		$('#viewicons *').tooltip();
});
</script>

<fieldset id="viewicons">
<table id="hor-zebra">
	<thead>
		<tr>
			<th scope="col">Customer</th>
			<th scope="col">Queued</th>
			<th scope="col">Packaged</th>
			<th scope="col">Error</th>
			<th scope="col">Re Enqueue</th>
			<th scope="col"></th> 
		</tr>
	</thead>
	
	
	<tbody>
	{% for package in packages %}
		<tr class="{% if forloop.counter|divisibleby:2 %}even{% else %}odd{% endif %}">
			<td>{{package.name}}</td>
			<td>{{package.queue}}</td>
			<td>{{package.packaged}}</td>
			<td>{{package.error}}</a></td>
			<td><a href="/vod/reenqueue_all/{{package.id}}/{{package_group.id}}" class="bttn" style="width: 30px;">All</a><br /></td>
			<td><a href="/vod/reenqueue_error/{{package.id}}/{{package_group.id}}" class="bttn" style="width: 30px;">Error</a><br /></td>
		</tr>
	{% endfor %}
	</tbody>
	
</table>
</fieldset>

<!-- VIEW'S ICONOGRAPHY -->
<hr />

{% endblock %}

{% block action_bar %}

{% if packages.has_previous %}
<a href="?page={{ packages.previous_page_number }}" class="bttn prev">Previous</a>
{% endif %}
<a href="#" onclick="javascript:actionRefreshView();" class="bttn icon refresh">Refresh<a>
{% if packages.has_next %}
<a href="?page={{ packages.next_page_number }}" class="bttn next">Next</a>
{% endif %}

{% endblock %}